:root {
--bg-color : rgb(77, 77, 77);
--main-color : rgb(252, 43, 43);
--highlight-color : rgb(28, 52, 155);
--successMsg : rgb(21, 201, 15);
--mouseEvent-color : rgb(255, 139, 44);
--mouseEvent-color-hover : rgb(226, 121, 35);
--keyboardEvent-color : rgb(165, 245, 37);
--formEvent-color : rgb(37, 245, 148);
--formEvent-color-hover : rgb(26, 209, 124);
--focusEvent-color : rgb(37, 134, 245);
--head-size : 45px;
--section-head-size : 30px;

}

body {
    background-color: var(--bg-color);
}

h1 {
    color: var(--main-color);
    font-size: var(--head-size);
    text-align: center;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
    font-weight: bold;
}

section {
    padding: 40px;
}

#mouseEventH {
    color: var(--mouseEvent-color);
    font-size: var(--section-head-size);
}

#mouseEventBtn {
    display: block;
    margin: auto;
    background-color: var(--mouseEvent-color);
    border: none;
    border-radius: 4px;
    padding: 6px;
}

#mouseEventBtn:hover {
    background-color: var(--mouseEvent-color-hover);
}

#mouseEventMsg {
    color: var(--mouseEvent-color-hover);
}

#keyboardEventH {
    color: var(--keyboardEvent-color);
    font-size: var(--section-head-size);
}

input {
    display: block;
    margin: auto;
    border: none;
    border-radius: 4px;
    padding: 6px;
}

#keyboardEventMsg {
    color: var(--keyboardEvent-color);
}

#formEventH {
    color: var(--formEvent-color);
    font-size: var(--section-head-size);
}

#formEventBtn {
    display: block;
    margin: auto;
    background-color: var(--formEvent-color);
    border: none;
    border-radius: 4px;
    padding: 6px;
}

#formEventBtn:hover {
    background-color: var(--formEvent-color-hover);
}

#formEventSuccessMsg {
    color: var(--successMsg);
}

#formNameError {
    color: red;
}

#focusEventH {
    color: var(--focusEvent-color);
    font-size: var(--section-head-size);
}

#focusEventMsg {
    color: var(--focusEvent-color);
}